::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: padding-box;
  background-color: var(--color-pink-light);
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.6) 25%, transparent 0, transparent 50%, rgba(255,255,255,0.6) 0, rgba(255,255,255,0.6) 75%, transparent 0, transparent);
}
